<%= form_with(model: unread_post, local: true) do |form| %>
  <% if unread_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unread_post.errors.count, "error") %> prohibited this unread_post from being saved:</h2>

      <ul>
      <% unread_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :unread_post_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :unread_post_author %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :unread_post_content %>
  </div>

  <div class="field">
    <%= form.label :parent_post %>
    <%= form.number_field :parent_post, id: :unread_post_parent_post %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
